#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

use_devbox() {
    watch_file devbox.json devbox.lock
    eval "$(devbox shellenv --init-hook --install --no-refresh-alias --omit-nix-env=true)"
}
use devbox

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details
